# Work for data extraction to webpage

In [1]:
# Getting relevant packages
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import urllib2
from collections import Counter 
import numpy as np
from operator import itemgetter
from scipy import linalg
import geoplotlib as gpl
from sklearn.neighbors import KNeighborsClassifier

In [24]:
# Importing data using pandas - only needed columns
crime_data = pd.read_csv('SFPD_Incidents_January_2003.csv', usecols=['Category','Date','PdDistrict']) # Updated 21st of March

In [25]:
# Extraxt year
crimePerYear = []
for date in crime_data.Date:
    crimePerYear.append(int(date.split("/")[-1]))

# Append to existing dataframe
crime_data['Year'] = crimePerYear 
crime_data = crime_data.sort_values(by='Year')
crime_data[:10]

               Category        Date PdDistrict  Year
778030    LARCENY/THEFT  04/08/2003    TARAVAL  2003
855466    DRUG/NARCOTIC  02/10/2003    MISSION  2003
1516828  OTHER OFFENSES  02/18/2003   SOUTHERN  2003
855462            FRAUD  03/12/2003   NORTHERN  2003
421771    DRUG/NARCOTIC  09/30/2003    MISSION  2003
855455        VANDALISM  03/21/2003    TARAVAL  2003
855450        VANDALISM  10/25/2003    MISSION  2003
605231       KIDNAPPING  11/07/2003   RICHMOND  2003
1157907           FRAUD  05/27/2003    CENTRAL  2003
1157909  OTHER OFFENSES  05/13/2003    MISSION  2003

In [45]:
crime_data_crime[:10]

              Category        Date PdDistrict  Year
855427   VEHICLE THEFT  07/25/2003   SOUTHERN  2003
1516770  VEHICLE THEFT  07/14/2003   NORTHERN  2003
1157850   PROSTITUTION  08/27/2003   NORTHERN  2003
1281719   PROSTITUTION  09/26/2003   NORTHERN  2003
1281684  VEHICLE THEFT  06/23/2003    CENTRAL  2003
855339   VEHICLE THEFT  10/12/2003  INGLESIDE  2003
855299   VEHICLE THEFT  09/20/2003  INGLESIDE  2003
605262   VEHICLE THEFT  06/05/2003    CENTRAL  2003
855396   VEHICLE THEFT  03/24/2003    BAYVIEW  2003
1516739  VEHICLE THEFT  01/08/2003  INGLESIDE  2003

In [43]:
# Important data
crimes = ["VEHICLE THEFT", "PROSTITUTION"]
years  = [2003, 2015]
crime_info = {}
crime_info['2003'] = {}
crime_info['2015'] = {}

# Keep only values in years 2003 and 2015
crime_data_year = crime_data.loc[crime_data['Year'].isin(years)]

# Keep only crime categories "Vehicle theft" and "prostitution" 
crime_data_crime = crime_data_year.loc[crime_data_year['Category'].isin(crimes)]

In [47]:
# Number of crimes per crime for the two years
for year in years:
    # Get yearly data
    data = crime_data_crime.loc[crime_data_crime['Year'].isin([year])]
    for district in list(set(crime_data_crime.PdDistrict)):
        # Get tuple of number of vehicle thefts, prostitution
        crime_dist = data.loc[data['PdDistrict'].isin([district])]
        crime_info[str(year)][district] = (len(crime_dist.loc[crime_dist['Category'].isin(['VEHICLE THEFT'])]),
                                           len(crime_dist.loc[crime_dist['Category'].isin(['PROSTITUTION'])]))
crime_info

{'2003': {'BAYVIEW': (2121, 11),
  'CENTRAL': (1193, 70),
  'INGLESIDE': (2319, 5),
  'MISSION': (2063, 713),
  'NORTHERN': (1879, 581),
  'PARK': (1207, 2),
  'RICHMOND': (1081, 15),
  'SOUTHERN': (1426, 18),
  'TARAVAL': (1665, 10),
  'TENDERLOIN': (371, 527)},
 '2015': {'BAYVIEW': (985, 7),
  'CENTRAL': (552, 44),
  'INGLESIDE': (1368, 5),
  'MISSION': (1198, 66),
  'NORTHERN': (945, 42),
  'PARK': (640, 1),
  'RICHMOND': (559, 9),
  'SOUTHERN': (795, 96),
  'TARAVAL': (789, 81),
  'TENDERLOIN': (113, 23)}}

In [52]:
crime_info['2003']

{'BAYVIEW': (2121, 11),
 'CENTRAL': (1193, 70),
 'INGLESIDE': (2319, 5),
 'MISSION': (2063, 713),
 'NORTHERN': (1879, 581),
 'PARK': (1207, 2),
 'RICHMOND': (1081, 15),
 'SOUTHERN': (1426, 18),
 'TARAVAL': (1665, 10),
 'TENDERLOIN': (371, 527)}